[package]
name = "rosec"
version = "0.1.0"
edition = { workspace = true }
rust-version = { workspace = true }
license = { workspace = true }
repository = { workspace = true }

[dependencies]
anyhow = { workspace = true }
tokio = { workspace = true }
zbus = "4.4.0"
zvariant = "4.2.0"
